.t-records ul {
  margin: 0 !important;
  padding: 0 !important;
}

@font-face {
  font-family: heliosexBOLD-neuemachina;
  src: url(https://tools.skillfactory.ru/PPNeueMachina-InktrapRegular.woff);
}
* {
  box-sizing: border-box;
}

.page-wrapper {
  max-width: 1154px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .page-wrapper {
    max-width: 940px;
  }
}
@media screen and (max-width: 959px) {
  .page-wrapper {
    max-width: 620px;
  }
}
@media screen and (max-width: 639px) {
  .page-wrapper {
    max-width: 460px;
  }
}
@media screen and (max-width: 439px) {
  .page-wrapper {
    max-width: 300px;
  }
}

.two-columns {
  display: grid;
  grid-template-columns: 270px auto;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.buttons__element {
  border-radius: 10px;
  width: 270px;
  height: 60px;
  border: 1px solid transparent;
  background: #5b5b5b;
  transition: 0.3s;
  color: #f4f4f4;
  text-align: center;
  font-size: 18px;
  font-family: Rubik;
  line-height: 120%;
}
.buttons__element_active {
  color: #000;
  border: 1px solid #5b5b5b;
  background: #edfced;
  transition: 0.3s;
}
.buttons__element:hover {
  transition: 0.3s;
  opacity: 0.7;
  cursor: pointer;
}

.accordions-wrapper {
  position: relative;
}

.accordion {
  width: 100%;
  margin: 0;
  border-radius: 10px;
  border: 1px solid #5b5b5b;
  padding: 20px;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: 0.5s;
}
.accordion_active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.accordion-item {
  padding: 20px 0;
  border-bottom: 1px solid rgba(217, 217, 217, 0.7);
  transition: 0.3s;
  position: relative;
}
.accordion-item:first-of-type {
  padding-top: 0;
}
.accordion-item:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
.accordion-item .accordion-item__content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.accordion-item_opened .accordion-item__content {
  position: initial;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.accordion-item__header {
  display: grid;
  align-items: center;
  width: 100%;
  grid-template-columns: 24px 4.5fr 1fr 78px;
  gap: 24px;
  cursor: pointer;
}

.accordion-item__plus {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion-item__plus:hover {
  cursor: pointer;
  animation: plus-hover;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.accordion-item__plus-line {
  width: 24px;
  height: 4px;
  display: flex;
  border-radius: 10px;
  position: absolute;
  background: #5b5b5b;
  transition: 0.3s;
}

.accordion-item__plus-line_vertical {
  transform: rotate(90deg);
  transition: 0.3s;
}

@keyframes plus-hover {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}
.accordion-item__title {
  margin: 0;
  color: #000;
  font-size: 18px;
  font-family: Rubik;
  line-height: 1.2;
}

.accordion-item_opened .accordion-item__plus-line_vertical {
  transform: rotate(0);
  transition: 0.3s;
}

.accordion-item__price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-item__price-value {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-family: Rubik;
  line-height: 120%;
  margin: 0;
}

.accordion-item__price-description {
  color: #000;
  font-size: 8px;
  font-family: Rubik;
  line-height: 120%;
  opacity: 0.7;
  text-align: center;
}

.accordeon-item__text {
  margin: 12px 0 0 48px;
  color: #000;
  font-size: 16px;
  font-family: Rubik;
  line-height: 120%;
  opacity: 0.7;
  width: calc(100% - 4.8vw - 78px);
}

.accordion-item__list {
  margin: 12px 0 0 48px;
  padding-left: 18px;
  color: #000;
  font-size: 16px;
  font-family: Rubik;
  line-height: 120%;
  list-style: disc;
  opacity: 0.7;
  width: calc(100% - 4.8vw - 78px);
}

.accordion-item__sublist {
  list-style: circle;
}

.switch {
  position: relative;
  width: 78px;
}

.switch input[type=checkbox] {
  display: none;
}

.switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
}

.switch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.switch-inner:before,
.switch-inner:after {
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 16px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.switch-inner:before {
  content: "";
  padding-left: 5px;
  background-color: #34b349;
  border-radius: 20px;
}

.switch-inner:after {
  content: "";
  padding-right: 5px;
  background-color: #ececec;
  text-align: right;
}

.switch-click {
  width: 28px;
  margin: 3px;
  background: #5b5b5b;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 42px;
  transition: all 0.3s ease-in 0s;
}

.switch-checkbox:checked + .switch-label .switch-inner {
  margin-left: 0;
}

.switch-checkbox:checked + .switch-label .switch-click {
  right: 0;
}