@import "../fonts/index.scss";

* {
	box-sizing: border-box;
}

.page-wrapper {
	max-width: 1154px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	height: 100%;

	@media screen and (max-width: 1199px) {
		max-width: 940px;
	}
	@media screen and (max-width: 959px) {
		max-width: 620px;
	}
	@media screen and (max-width: 639px) {
		max-width: 460px;
	}
	@media screen and (max-width: 439px) {
		max-width: 300px;
	}
}

.two-columns {
	display: grid;
	grid-template-columns: 270px auto;
	column-gap: 24px;

	@media screen and (max-width: 959px) {
		grid-template-columns: 1fr;
		row-gap: 10px;
	}
}

.buttons {
	position: relative;
	width: 100%;

	@media screen and (max-width: 959px) {
		display: flex;
		justify-content: center;
		flex-direction: column;
		row-gap: 10px;
	}
}

.bullons__list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	flex-direction: column;
	row-gap: 20px;
	display: flex;

	@media screen and (max-width: 959px) {
		display: none;
		row-gap: 0;

		li {
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid rgba(240, 240, 240, 0.1);

			&:first-of-type {
				padding-top: 0;
			}
			&:last-of-type {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
	}
}

.buttons__element {
	border-radius: 10px;
	width: 270px;
	height: 60px;
	border: 1px solid transparent;
	background: #5b5b5b;
	transition: 0.3s;
	color: #f4f4f4;
	text-align: center;
	font-size: 18px;
	font-family: Rubik;
	line-height: 120%;

	@media screen and (max-width: 959px) {
		width: unset;
		height: unset;
	}

	&_active {
		@media screen and (min-width: 960px) {
			color: #000;
			border: 1px solid #5b5b5b;
			background: #edfced;
			transition: 0.3s;
		}
	}

	&:hover {
		transition: 0.3s;
		opacity: 0.7;
		cursor: pointer;

		@media screen and (max-width: 959px) {
			opacity: 1;
		}
	}
}

.dropdown {
	transition: 0.3s;
	border-radius: 10px;
	border: 1px solid transparent;
	background: #5b5b5b;
	color: #edfced;
	text-align: center;
	font-size: 16px;
	font-family: Rubik;
	line-height: 120%;
	display: none;
	align-items: center;
	justify-content: center;
	position: relative;

	@media screen and (max-width: 959px) {
		display: flex;
		min-height: 45px;
	}
}

.dropdown__value {
	width: calc(100% - 90px);
}

.dropdown__list {
	@media screen and (max-width: 959px) {
		border-radius: 10px;
		background: #5b5b5b;
		list-style: none;
		margin: 0;
		padding: 16px 15px;
		display: none;
		flex-direction: column;
		align-items: center;
		position: absolute;
		width: 100%;
		top: 64px;
		z-index: 10;
	}
}

.dropdown__list-item {
	@media screen and (max-width: 959px) {
		color: #f4f4f4;
		text-align: center;
		font-size: 16px;
		font-family: Rubik;
		line-height: 120%;
		width: 100%;
	}
}

.dropdown__ico {
	position: absolute;
	right: 15px;
	transform: rotate(0);
	transition: 0.3s;

	svg {
		transition: 0.3s;
		fill: #edfced;
	}
}

.dropdown_opened {
	color: #5b5b5b;
	border: 1px solid #5b5b5b;
	background: #edfced;
	transition: 0.3s;
	& ~ .dropdown__list {
		display: flex;
	}
	& > .dropdown__ico {
		transform: rotate(180deg);
		transition: 0.3s;

		svg {
			transition: 0.3s;
			fill: #5b5b5b;
		}
	}
}

.accordions-wrapper {
	position: relative;
	overflow: hidden;
}

.accordion {
	width: 100%;
	margin: 0;
	border-radius: 10px;
	border: 1px solid #5b5b5b;
	padding: 20px;
	list-style: none;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	position: relative;
	transition: opacity .3s, visibility 0s;

	&_active {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
		transition: opacity .3s, visibility 0s .3s;
	}

	&_hidden {
		display: none;
	}


}

.accordion-item {
	padding: 20px 0;
	border-bottom: 1px solid rgb(217 217 217 / 70%);
	transition: 0.3s;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&:first-of-type {
		padding-top: 0;
	}

	&:last-of-type {
		padding-bottom: 0;
		border-bottom: none;
	}

	.accordion-item__content {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;

		@media screen and (max-width: 959px) {
			flex-direction: column;
			order: 2;
		}
	}

	@media screen and (max-width: 959px) {
		gap: 15px;
	}
}

.accordion-item__header-left {
	display: flex;
	align-items: center;
	gap: 24px;
	max-width: 60%;

	@media screen and (max-width: 959px) {
		order: 1;
		max-width: unset;
	}
}

.accordion-item__header-right {
	display: flex;
	align-items: center;
	gap: 93px;

	@media screen and (max-width: 1199px) {
		gap: 50px;
	}

	@media screen and (max-width: 959px) {
		width: 100%;
		gap: 0;
		justify-content: space-between;
		order: 3;
	}
}

.accordion-item_opened {
	.accordion-item__content {
		position: initial;
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}
}

.accordion-item__footer {
	display: none;
	justify-content: space-between;
	margin-top: 15px;

	@media screen and (max-width: 959px) {
		display: flex;
	}
}

.accordion-item__plus {
	position: relative;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		cursor: pointer;
		animation: plus-hover;
		animation-duration: 0.5s;
		animation-iteration-count: 1;
		animation-direction: normal;
	}
}

.accordion-item__plus-line {
	width: 24px;
	height: 4px;
	display: flex;
	border-radius: 10px;
	position: absolute;
	background: #5b5b5b;
	transition: 0.3s;
}

.accordion-item__plus-line_vertical {
	transform: rotate(90deg);
	transition: 0.3s;
}

@keyframes plus-hover {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0);
	}
}

.accordion-item__title {
	margin: 0;
	color: #000;
	font-size: 18px;
	font-family: Rubik;
	line-height: 1.2;
}

.accordion-item_opened {
	.accordion-item__plus-line_vertical {
		transform: rotate(0);
		transition: 0.3s;
	}
}

.accordion-item__price {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.accordion-item__price-value {
	color: #000;
	text-align: center;
	font-size: 20px;
	font-family: Rubik;
	line-height: 120%;
	margin: 0;
}

.accordion-item__price-description {
	color: #000;
	font-size: 8px;
	font-family: Rubik;
	line-height: 120%;
	opacity: 0.7;
	text-align: center;
}

.accordeon-item__text {
	margin: 12px 0 0 48px;
	color: #000;
	font-size: 16px;
	font-family: Rubik;
	line-height: 120%;
	opacity: 0.7;
	width: calc(100% - 4.8vw - 78px);

	@media screen and (max-width: 959px) {
		margin: 12px 0 0 0;
		width: 100%;
	}
}

.accordion-item__list {
	margin: 12px 0 0 48px;
	padding-left: 18px;
	color: #000;
	font-size: 16px;
	font-family: Rubik;
	line-height: 120%;
	list-style: disc;
	opacity: 0.7;
	width: calc(100% - 4.8vw - 78px);

	@media screen and (max-width: 959px) {
		margin: 12px 0 0 0;
		width: 100%;
	}
}

.accordion-item__list-item {
    margin: 12px 0 0 0;
}

.accordion-item__sublist {
	list-style: circle;
}

.switch {
	position: relative;
	width: 78px;
}
.switch input[type="checkbox"] {
	display: none;
}
.switch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border-radius: 20px;
}
.switch-inner {
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.switch-inner:before,
.switch-inner:after {
	float: left;
	width: 50%;
	height: 34px;
	padding: 0;
	line-height: 34px;
	font-size: 16px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}
.switch-inner:before {
	content: "";
	padding-left: 5px;
	background-color: #34b349;
	border-radius: 20px;
}
.switch-inner:after {
	content: "";
	padding-right: 5px;
	background-color: #ececec;
	text-align: right;
}
.switch-click {
	width: 28px;
	margin: 3px;
	background: #5b5b5b;
	border-radius: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 42px;
	transition: all 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-label .switch-inner {
	margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-click {
	right: 0;
}
